body,
html {
    margin: 0;
    padding: 0;
}

.home {
    background-image: url("./images/home_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-mask-image: url(https://shivasankari3101.github.io/Practice/accurest_practice/images/accurest_a.svg);
    -webkit-mask-size: 30%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 100% 20%;
}