@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 5%;
}

.navbar img{
    width: 400px;
    height: 100%;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section1>div{
    width:50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.text_content h1{
    font-size: 2.5rem;
    padding-left:10%;
    color: rgba(252,45,38,.99);
    font-weight: bolder;
}

.scrolling_text{
    position: relative;
    width: 60%;
    height: 400px;
}

.scrolling_text>div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.picture{
    height: 100vh;
    position: relative;
}

.picture>img{
    width:60%;
    height: 100%;
}

.scroll_images{
    position: absolute;
    top:36%;
    left: 20%;
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.scroll_images>img{
    position: absolute;
    top: 0;
    width: 94%;
    height: 100%;
}


.scroll_images,.scrolling_text{
    overflow-y: hidden;
}

.section1 .slogan{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(252,45,38,.99);
    font-weight:bold;
}

.slogan_container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

.slogan_container>h1{
    position: absolute;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(94deg,hsla(0,0%,100%,0),#fff 10%,#fff 90%,hsla(0,0%,100%,0));
    height: 10vh;
}

.ring_box{
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#fff;
    font-size: 2rem;
}

.ring_box .content{
    position: relative;
    width: 30%;
    height: 500px;
}

.ring_box .content p{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ring_box .content2 p{
     top:60%;
}



.ring_box img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.ring_box .content{
    overflow: hidden;
}


@media screen and (max-width:768px){
    .navbar img{
        width: 250px;
        height: 80%;
    }

    .section1{
        flex-direction:column;
        height: 100vh;
    }

    .section1>div{
        width: 100%;
        height: 50vh;
        min-height: 50vh;
    }

    .text_content h1{
        font-size: 1.12rem;
    }

    .scroll_images{
        height: 40vh;
    }

    .scrolling_text{
        width: 90%;
        height: 40vh;
    }

    .scrolling_text>div{
        font-size: 0.7rem;
    }

    .slogan_container,.overlay{
        height: 50vh;
    }

    .ring_box{
        flex-direction: column;
        height:100vh;
        font-size: 1.8rem;
    
    }

    .ring_box .content{
        width: 90%;
    }

    .ring_box .content2 p{
        top: 0;
    }

    .content1{
        text-align: left;
    }

    .content2{
        text-align: right;
    }
}